@media only screen and (max-width: 480px) {
	#header{
		font-style: italic;
		text-transform: uppercase;
		
	}
	#menu li{
	display: block;
	list-style-type: none;
    margin: 0px;  
    padding: 25px 16px 25px 16px;
	font-size: 24px;
    }
	
	#menu {
	background-color: #00b300;
	}
	
	h2 {
		color: #004d00;
		
	}
    body {     
		margin: 0px;
    }
	
    p{
		font-size: 24px;
		word-wrap: break-word;
	}
	
	#articles {	
	width: 300px;
	float: none; 
	margin: 0px;
	}
	
	
	#sidebar {float:none;
	width: 300px;
	margin: 0px;}		
		
	
	img {
		
		display: none;
		
	}